/* =======================================================================
/* ########################## VARIABLES SASS  ##########################
======================================================================= */
/*------------------------------------*  #MEDIA QUERIES
\*------------------------------------*/
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a,
a:hover,
a:focus {
  text-decoration: none; }

.plop {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2506; }
  .plop.nope {
    display: none; }

header {
  background: transparent url("http://fakeimg.pl/1920x1080/") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: flex-start; }
  header h1 {
    font-size: 8rem;
    margin: auto 10%; }
    header h1 span {
      display: block; }

html,
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4 {
  color: #333;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -2px;
  margin: 0 0 20px;
  text-transform: uppercase; }

h1 {
  font-size: 2rem;
  letter-spacing: -3px; }
  h1 small {
    font-size: 65%; }

h2 {
  font-size: 3rem;
  letter-spacing: -3px; }
  h2 small {
    font-size: 65%; }

h3 {
  font-size: 2rem; }
  h3 small {
    font-size: 65%; }

h4 {
  font-size: 1.25rem; }
  h4 small {
    font-size: 65%; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

section {
  border: 1px solid transparent;
  text-align: center; }

.quick-info h2,
.quick-info h3 {
  color: #26547c; }

.quick-info .quick-info--content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px; }

.quick-info .quick-info--item {
  max-width: 20%;
  font-size: 20px; }

.cp {
  background-color: #999; }

.about {
  background-color: #999; }
  .about h2,
  .about h3 {
    color: #ef476f; }
  .about .about--content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px; }
  .about .about--item {
    max-width: 20%;
    font-size: 20px; }

.intersection.solo {
  background: transparent url("http://fakeimg.pl/1920x1080/") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px; }

.intersection.triptych {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

section {
  min-height: 50vh; }

nav {
  display: flex; }
  nav.nav-desktop {
    align-items: center;
    border: 1px solid #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%; }
    nav.nav-desktop .nav--item {
      background-color: #fff;
      border: 1px solid #000;
      padding: 5px 10px;
      text-align: center;
      width: auto; }
    nav.nav-desktop .nav--logo {
      display: none; }
    nav.nav-desktop.sticky-nav {
      position: fixed;
      right: 0;
      top: 0; }
      nav.nav-desktop.sticky-nav .nav--logo {
        background-color: #0F4061;
        border: 1px solid red;
        display: block;
        height: 20px;
        margin-right: auto; }
        nav.nav-desktop.sticky-nav .nav--logo a {
          display: block;
          height: 100%;
          width: 100%; }

/*
<a href="#" class="btn-look">
  <span class="btn-look--content">Exemple</span>
  <span class="btn-look--hover">Exemple</span>
</a>
*/
.btn-look {
  border: 3px solid #333;
  color: #333;
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  position: relative; }
  .btn-look span {
    display: inline-block;
    height: 100%;
    padding: 10px 20px;
    text-align: center;
    width: 100%; }
  .btn-look .btn-look--content {
    background-color: transparent;
    position: relative;
    transform: translateY(0);
    transition: transform .4s ease; }
  .btn-look .btn-look--hover {
    background-color: #333;
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform .4s ease; }
  .btn-look:hover {
    color: inherit;
    text-decoration: none; }
    .btn-look:hover .btn-look--content {
      transform: translateY(-104%); }
    .btn-look:hover .btn-look--hover {
      transform: translateY(0); }

/*# sourceMappingURL=main.css.map */