// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a,
a:hover,
a:focus {
  text-decoration: none;
}


/////////////////////////
//Loading
/////////////////////////


.plop {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2506;

  &.nope {
    display: none;
  }
}

/////////////////////////
//Header
/////////////////////////

header {
  background: transparent url('http://fakeimg.pl/1920x1080/') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: flex-start;

  h1 {
    font-size: 8rem;
    margin: auto 10%;

    span {
      display: block;
    }
  }
}


/////////////////////////
//Footer
/////////////////////////

