//Each components style sheet start with .component-example to specify that the style is applied within the example part
//Those component styles are not part of the guideline page rendering

.component-example {
  .message-box {
    align-items: center;
    border-radius: 4px;
    color: #333;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px 15px;
    position: relative;

    &.message-info {
      background-color: #ccebf3;
    }

    &.message-success {
      background-color: #d4ece6;
    }

    &.message-warning {
      background-color: #ffeebf;
    }

    &.message-error {
      background-color: #f8d0c8;
    }

    .message--picto {
      font-size: 20px!important;
      margin-right: 15px;
    }

    .message--txt {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }

    .message--title {
      font-weight: 600;
    }

    .message--button,
    .closing-cross {
      margin-left: auto;
    }

    .closing-cross {
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover svg line {
            stroke: #333;
        }
    }
  }

}
