//Each components style sheet start with .component-example to specify that the style is applied within the example part
//Those component styles are not part of the guideline page rendering

.component-example {
  .search-field {
    float: right!important;/*!important à suprimer pour le général et ajouter pour specifiques*/
  }

  .search-field .form-control {
    border-right: 0;
    z-index: 1;
  }

  .search-field .input-group-addon {
    background-color: #fff;
    cursor: pointer;
  }

  .search-field .form-control:focus + .input-group-addon {
    border-color: #999;
  }
}
