//Each components style sheet start with .component-example to specify that the style is applied within the example part
//Those component styles are not part of the guideline page rendering

.component-example {
  .nav-tabs {
    border: 0;
    &.main-menu {
      li {
        border: 0;
        cursor: pointer;
        margin-right: 35px;

        > a {
            background-color: #fff;
            border: 0;
            color: #333;
            cursor: pointer;
            font-weight: bold;
        }

        &.active {
            border-bottom: 1px solid #333;

            > a {
                color: #428bca;
            }
        }
      }
    }
  }
}
