//Each components style sheet start with .component-example to specify that the style is applied within the example part
//Those component styles are not part of the guideline page rendering

.component-example {
  .dropdown-menu {
    margin-top: 5px;
    padding-bottom: 0;
    padding-top: 0;

    li > a {
      line-height: 22px;
      padding: 10px 20px;
    }

    li > a:hover,
    .active > a,
    .active > a:hover {
        background-color: #CCEBF3 !important;
        color: #333 !important;
    }

    //select All
    li.dropdown-select-all {
      border-bottom : 1px solid #ececec;
      padding: 0;

      a {
        font-weight: 600;
      }
    }

    //search field in list
    .search-btn-group {
      border-bottom : 1px solid #ececec;
      padding: 0;

      .no-border {
        border: 0;
      }

      .input-group-addon {
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}



/*dropdown with checkboxes in it */
/*.new-bo-page-content .dropdown-with-checkboxes button:not(.dropdown-toggle) {
    padding-right: 0;
}
.new-bo-page-content .dropdown-with-checkboxes ul.dropdown-menu {
    left: -15px;
    margin-top: 5px;
    font-size: 81.3%;
    max-height: 200px;
    overflow: auto;
}
.new-bo-page-content .dropdown-with-checkboxes ul.dropdown-menu.pull-right {
    right: 0;
    left: inherit;
}
.new-bo-page-content .dropdown-with-checkboxes ul.dropdown-menu li {
    padding: 5px;
}
.new-bo-page-content .dropdown-with-checkboxes ul.dropdown-menu li.select-all {
    border-bottom: #ECECEC 1px solid;
}
.new-bo-page-content .dropdown-with-checkboxes ul.dropdown-menu li label{
    margin-bottom: 0;
}

/* /dropdown with checkboxes in it */

