header {
  background-color: $fb-blue;
  color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .logo {
    height: auto;
    width: 200px;
    @include center(vertical);

    img {
      width: 100%;
    }
  }
}

