nav {
  display: flex;

  &.nav-desktop {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: auto;

    .nav--item {
      background-color: #fff;
      border: 1px solid #000;
      padding: 5px 10px;
      text-align: center;
      width: 100px;
    }

    .nav--logo {
      background-color: #0F4061;
      border: 1px solid #red;
      margin-right: auto;
      height: 20px;
    }

    &.sticky-nav {
      position: fixed;
      top: 0;
    }
  }
}