/* =======================================================================
/* ########################## VARIABLES SASS  ##########################
======================================================================= */


//Brand colors

//primary
$lpa-blue: #1a535c;
$lpa-turqoise: #4ecdc4;
$lpa-red: #ff6b6b;
$lpa-yellow: #ffe66d;
$lpa-cream: #f7fff7;

//secondary
$lpa-blue-s: #26547c;
$lpa-green-s: #06d6a0;
$lpa-red-s: #ef476f;
$lpa-yellow-s: #ffd166;
$lpa-snow: #fffcf9;


//pastel
$lpa-blue-p: #a9def9;
$lpa-green-p: #d3f8e2;
$lpa-red-p: #f694c1;
$lpa-yellow-p: #ede7b1;
$lpa-purple-p: #e4c1f9;
